.Searcher {
  position: fixed;
  top: 15px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 11;
}

.Searcher-text {
  font-size: 1.3rem;
  box-sizing: border-box;
  width: 75%;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #009A9A;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  background-color: #F3F3F3;
}