.AddTerrace label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #449396;
}

.AddTerrace input[type='text'], 
.AddTerrace input[type='email'], 
.AddTerrace textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
  border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  font-size: 1.2rem;
  background-color: #F3F3F3;
  margin-bottom: 20px;
}

.AddTerrace-address-container {
  display: flex;
}

.AddTerrace-edit-address-link {
  border: 1px solid #449396;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  margin-top: 1.5px;
}

.AddTerrace i {
  color: #449396;
}