@import '../../../node_modules/mapbox-gl/dist/mapbox-gl.css';

.MapEditTerrace-h2 {
  padding: 0 10px;
  font-size: 1.8rem;
}

.MapEditTerrace-mapContainer {
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  bottom: 0;
}

.MapEditTerrace-button-container {
  display: flex;
  justify-content: center;
}

.MapEditTerrace-button {
  position: absolute;
  bottom: 65px;
}