.TerraceDetail {
  font-size: 1rem;
}

.TerraceDetail h2 {
  color: black;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 15px;
}

.TerraceDetail-rating {
  display: flex;
  justify-content: space-between;
}

.TerraceDetail-updates {
  border: 4px solid #449396;
  border-radius: 10px;
  padding: 5px;
}

.TerraceDetail a {
  color: black;
}

.TerraceDetail-free-table-container {
  display: flex;
  align-items: center;
}

.TerraceDetail-img-free-table {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

.TerraceDetail-p-free-table {
  margin: 0;
}

.TerraceDetail-update-state-link {
  border: none;
  padding: 5px;
  color: white;
  background-color: #009A9A;
  border-radius: 5px;
}

.TerraceDetail-rating-icon {
  width: 25px;
  height: 25px;
  margin: 1px;
}

.TerraceDetail-reviews {
  text-align: right;
  margin-top: 5px;
}

.TerraceDetail-line {
  display: flex;
  align-items: center;
  height: 40px;
}

.TerraceDetail-line i {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: #449396;
}

.TerraceDetail-line p {
  font-size: 1rem;
}

.TerraceDetail-common-font {
  font-size: 1rem;
}

.TerraceDetail-rating-p {
  font-size: 0.7rem;
  margin-top: 5px;
  margin-left: 3px;
}