.Terraces ul {
  padding: 0;
  margin: 0;
}

.Terraces-Link {
  display: flex;
  flex-direction: column;
}

.Terraces-info-under-img {
  display: flex;
  justify-content: space-between;
}

.Terraces h2 {
  color: black;
  font-size: 1.5rem;
  margin-top: 10px;
}

.Terraces-sun-rating {
  display: flex;
  margin-top: 15px;
}

.Terraces-sun {
  width: 15px;
  height: 15px;
  margin: 1px;
}