.Signup {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  width: 100vw;
  position: absolute;
}

.Signup-background-image {
  background-image: url('/images/terrace.jpg');
  background-repeat: no-repeat;
  background-position-x: 60%;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.Signup-background-image:before {
	content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.0);
}

.Signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Signup input {
  margin-top: 20px;
}

.Signup-Signup-Login {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Signup-Signup-button {
  color: white;
  background-color: #009A9A;;
}

.Signup-Login-button {
  color: #009A9A;
  background-color: white;
}